@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: Roboto, sans-serif;
}

.profile-card {
	width: 480px;
	max-width: calc(100vw - 10px);
	background-color: hsla(0, 0%, 100%, .5);
	border-radius: 4px;
	box-shadow: hsla(0, 0%, 0%, .8) 5px 5px 80px
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('assets/background.jpeg') no-repeat center center fixed;
	background-size: cover;
}

.head, .social, table {
	text-align: center;
}

.head, .content, table {
	width: 90%;
	margin: 0 auto;
}

.profile-pic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 1px;
	background-color: #666;
	filter: grayscale(50%);
	margin-top: -60px;
}
.flag {
	width: 15px;
	height: 15px;
	border-radius: 4px;
	filter: grayscale(50%);
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

.head, .about {
	margin-bottom: 10%;
}

.content {
	padding: 5% 10%;
	border-top: 1px solid hsla(0, 0%, 30%, .8)
}

.profile-pic:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
	filter: grayscale(20%);
}

.flag:hover {
	filter: grayscale(20%);
}

/*Social icons*/
.fab {
	color: #999;
	padding: 8px;
}

.fab:hover {
	color: black;
}

.work, .education {
	font-size: 10px;
	color: #555;
}

/*Work, Education links*/
a:hover {
	color: #333;
}

.social {
	margin-top: 5%;
}

span {
	color: #555;
	font-size: 12px;
}

.name-headline {
	line-height: 1.4;
}

h1 {
	font-size: 25px;
	letter-spacing: 1px;
}

h2 {
	color: #222;
}

a {
	text-decoration: none;
	color: black;
}




